@import ./_colors

h1
    background-color: $secondColor
    margin-top: 0
    text-align: center
    font-size: 4em

.todos
    width: 90%
    margin: auto
    display: grid
    grid-template-columns: repeat(3, 1fr)
    column-gap: 50px
    row-gap: 50px

    .todo
        background-color: $primaryColor
        color: $colorText
        padding: 10px 20px
        border-radius: 5px
        min-height: 100px
    .todo:hover
        background-color: $secondColor

    a
        text-decoration: none